Repository Anseto1988/appwrite, changes with the labels that .github/labeler.yml gives for each.
All labels: android, ui, data, auth, tests, ci, documentation, dependencies

.github/labeler.yml:

# Configuration for GitHub labeler action
# Automatically labels PRs based on file changes

android:
  - app/src/**/*
  - app/build.gradle*
  - "*.gradle"

ui:
  - app/src/main/res/**/*
  - app/src/*/java/**/ui/**/*
  - app/src/*/kotlin/**/ui/**/*
  - app/src/*/java/**/view/**/*
  - app/src/*/kotlin/**/view/**/*

data:
  - app/src/*/java/**/data/**/*
  - app/src/*/kotlin/**/data/**/*
  - app/src/*/java/**/database/**/*
  - app/src/*/kotlin/**/database/**/*
  - app/src/*/java/**/repository/**/*
  - app/src/*/kotlin/**/repository/**/*

auth:
  - app/src/*/java/**/auth/**/*
  - app/src/*/kotlin/**/auth/**/*
  - app/src/*/java/**/login/**/*
  - app/src/*/kotlin/**/login/**/*
  - app/src/*/java/**/security/**/*
  - app/src/*/kotlin/**/security/**/*

tests:
  - app/src/test/**/*
  - app/src/androidTest/**/*
  - "**/*Test.kt"
  - "**/*Test.java"
  - "**/test/**/*"

ci:
  - .github/**/*
  - .circleci/**/*
  - "*.yml"
  - "*.yaml"

documentation:
  - "**/*.md"
  - docs/**/*
  - README.md

dependencies:
  - build.gradle*
  - app/build.gradle*
  - gradle.properties
  - gradle/wrapper/**/*
  - versions.gradle

[FIX] chore: Remove workflows temporarily due to OAuth scope limitations
  .github/workflows/android-ci.yml
  .github/workflows/dependency-update.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
Labels: ci

[MAJOR] fix: Reduce compilation errors from 690 to 428
  .kotlin/sessions/kotlin-compiler-4563951991619008749.salive
  app/src/main/java/com/example/snacktrack/data/model/AnalyticsModels.kt
  app/src/main/java/com/example/snacktrack/data/model/HealthInsight.kt
  app/src/main/java/com/example/snacktrack/data/model/MedicationReminder.kt
  app/src/main/java/com/example/snacktrack/data/model/StatisticsModels.kt
  app/src/main/java/com/example/snacktrack/data/repository/BarcodeRepository.kt
  app/src/main/java/com/example/snacktrack/data/repository/OfflineRepository.kt
  app/src/main/java/com/example/snacktrack/data/repository/PreventionRepository.kt
  app/src/main/java/com/example/snacktrack/data/repository/StatisticsRepository.kt
  app/src/main/java/com/example/snacktrack/data/repository/TeamFeaturesRepository.kt
  app/src/main/java/com/example/snacktrack/data/service/AppwriteService.kt
  app/src/main/java/com/example/snacktrack/ui/screens/ai/AIRecommendationsScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/barcode/BarcodeScannerScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/community/CommunityHubScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/export/ExportIntegrationScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/nutrition/NutritionDashboardScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/offline/OfflineSettingsScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/statistics/AdvancedStatisticsScreen.kt
  app/src/main/java/com/example/snacktrack/ui/viewmodel/ExportIntegrationViewModel.kt
  app/src/main/java/com/example/snacktrack/ui/viewmodel/PreventionViewModel.kt
  app/src/main/java/com/example/snacktrack/ui/viewmodel/TeamFeaturesViewModel.kt
  build_output.txt
  compile_errors.txt
  gradle.properties
Labels: android, ui, data, dependencies

fix: Resolve all 428 compilation errors systematically
  .kotlin/sessions/kotlin-compiler-4563951991619008749.salive
  app/src/main/java/com/example/snacktrack/data/repository/StatisticsRepository.kt
  app/src/main/java/com/example/snacktrack/data/service/AppwriteService.kt
  app/src/main/java/com/example/snacktrack/ui/screens/ai/AIRecommendationsScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/barcode/BarcodeScannerScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/statistics/AdvancedStatisticsScreen.kt
  gradle.properties
Labels: android, ui, data, dependencies

fix: Update androidx.test.rules dependency to resolve build error
  app/build.gradle.kts
Labels: android, dependencies

fix: Behebe alle 439 Kompilierungsfehler systematisch
  app/build.gradle.kts
  app/src/main/java/com/example/snacktrack/ui/screens/barcode/BarcodeScannerScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/health/HealthDashboardScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/nutrition/NutritionDashboardScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/offline/OfflineSettingsScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/prevention/PreventionDashboardScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/statistics/AdvancedStatisticsScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/team/TeamDashboardScreen.kt
  app/src/main/java/com/example/snacktrack/ui/viewmodel/AIViewModel.kt
  app/src/main/java/com/example/snacktrack/ui/viewmodel/TeamViewModel.kt
Labels: android, ui, dependencies

fix: Resolved major compilation errors
  .kotlin/sessions/kotlin-compiler-5584489724691227200.salive
  app/src/main/java/com/example/snacktrack/data/model/StatisticsModels.kt
  app/src/main/java/com/example/snacktrack/ui/screens/ai/AIRecommendationsScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/barcode/BarcodeScannerScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/prevention/PreventionDashboardScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/statistics/AdvancedStatisticsScreen.kt
  app/src/main/java/com/example/snacktrack/ui/viewmodel/PreventionViewModel.kt
  app/src/main/java/com/example/snacktrack/ui/viewmodel/TeamFeaturesViewModel.kt
  app/src/main/java/com/example/snacktrack/ui/viewmodel/TeamViewModel.kt
Labels: android, ui, data

fix: Behebe alle 428 Kompilierungsfehler im SnackTrack Projekt
  .kotlin/sessions/kotlin-compiler-5584489724691227200.salive
  app/src/main/java/com/example/snacktrack/data/model/AnalyticsModels.kt
  app/src/main/java/com/example/snacktrack/data/repository/BarcodeRepository.kt
  app/src/main/java/com/example/snacktrack/ui/screens/statistics/AdvancedStatisticsScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/team/TeamDashboardScreen.kt
  app/src/main/java/com/example/snacktrack/ui/viewmodel/AdvancedStatisticsViewModel.kt
  app/src/main/java/com/example/snacktrack/ui/viewmodel/BarcodeViewModel.kt
  app/src/main/java/com/example/snacktrack/ui/viewmodel/ExportIntegrationViewModel.kt
  gradle.properties
Labels: android, ui, data, dependencies

fix: Behebe alle Kompilierungsfehler und korrigiere Appwrite-Endpoint
  .kotlin/sessions/kotlin-compiler-6105785808823894659.salive
  app/build.gradle.kts
  app/src/main/java/com/example/snacktrack/MainActivity.kt
  app/src/main/java/com/example/snacktrack/data/model/Allergy.kt
  app/src/main/java/com/example/snacktrack/data/model/Dog.kt
  app/src/main/java/com/example/snacktrack/data/model/Feeding.kt
  app/src/main/java/com/example/snacktrack/data/model/Food.kt
  app/src/main/java/com/example/snacktrack/data/model/HealthStatus.kt
  app/src/main/java/com/example/snacktrack/data/model/PreventionModels.kt
  app/src/main/java/com/example/snacktrack/data/model/Team.kt
  app/src/main/java/com/example/snacktrack/data/model/Vaccination.kt
  app/src/main/java/com/example/snacktrack/data/repository/DogRepository.kt
  app/src/main/java/com/example/snacktrack/data/repository/FeedingRepository.kt
  app/src/main/java/com/example/snacktrack/data/repository/FoodRepository.kt
  app/src/main/java/com/example/snacktrack/data/repository/HealthRepository.kt
  app/src/main/java/com/example/snacktrack/data/service/AppwriteService.kt
  app/src/main/java/com/example/snacktrack/ui/navigation/NavGraph.kt
  app/src/main/java/com/example/snacktrack/ui/navigation/SnackTrackNavGraph.kt
  app/src/main/java/com/example/snacktrack/ui/screens/admin/FoodSubmissionAdminScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/barcode/BarcodeScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/dashboard/ModernDashboardScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/dog/AddEditDogScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/dogs/AddDogScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/dogs/DogDetailScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/dogs/DogListScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/dogs/EditDogScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/feeding/AddFeedingScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/feeding/FeedingListScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/food/FoodDatabaseScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/health/HealthOverviewScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/health/PreventionPlanScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/main/HomeScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/prevention/PreventionDashboardScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/settings/ExportImportScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/settings/SettingsScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/team/TeamManagementScreen.kt
  app/src/main/java/com/example/snacktrack/ui/viewmodel/AddDogViewModel.kt
  app/src/main/java/com/example/snacktrack/ui/viewmodel/PreventionViewModel.kt
  app/src/main/java/com/example/snacktrack/ui/viewmodel/TeamViewModel.kt
Labels: android, ui, data, dependencies

fix: Füge Cleanup-Skripte für Windows-Build-Probleme hinzu
  IMPORTANT_BUILD_INSTRUCTIONS.md
  cleanup.bat
  cleanup.sh
Labels: documentation

fix: Complete restoration of Android app functionality
  .kotlin/sessions/kotlin-compiler-6105785808823894659.salive
  app/src/main/java/com/example/snacktrack/data/model/CommunityPost.kt
  app/src/main/java/com/example/snacktrack/data/model/Feeding.kt
  app/src/main/java/com/example/snacktrack/data/model/Team.kt
  app/src/main/java/com/example/snacktrack/data/model/TeamFeatures.kt
  app/src/main/java/com/example/snacktrack/data/model/TeamInvitation.kt
  app/src/main/java/com/example/snacktrack/data/model/UserProfile.kt
  app/src/main/java/com/example/snacktrack/data/repository/CommunityRepository.kt
  app/src/main/java/com/example/snacktrack/data/repository/FeedingRepository.kt
  app/src/main/java/com/example/snacktrack/data/repository/TeamRepository.kt
  app/src/main/java/com/example/snacktrack/data/service/AppwriteConfig.kt
  app/src/main/java/com/example/snacktrack/data/service/AppwriteService.kt
  app/src/main/java/com/example/snacktrack/ui/navigation/SnackTrackNavGraph.kt
  app/src/main/java/com/example/snacktrack/ui/screens/account/AccountManagementScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/account/TeamInvitationsSection.kt
  app/src/main/java/com/example/snacktrack/ui/screens/community/CommunityScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/community/CreatePostScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/community/PostDetailScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/community/ProfileEditScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/community/ProfileScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/dogs/DogDetailScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/main/TileDashboardScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/team/TeamDashboardScreen.kt
  app/src/main/java/com/example/snacktrack/ui/viewmodel/CommunityViewModel.kt
  app/src/main/java/com/example/snacktrack/ui/viewmodel/CommunityViewModel.kt.bak
  app/src/main/java/com/example/snacktrack/ui/viewmodel/CommunityViewModelFactory.kt.bak
  app/src/main/java/com/example/snacktrack/ui/viewmodel/InvitationViewModel.kt
  app/src/main/java/com/example/snacktrack/ui/viewmodel/InvitationViewModel.kt.bak
  app/src/main/java/com/example/snacktrack/ui/viewmodel/TeamDashboardViewModel.kt
  app/src/main/java/com/example/snacktrack/ui/viewmodel/TeamFeaturesViewModel.kt
  app/src/main/java/com/example/snacktrack/ui/viewmodel/TeamViewModel.kt
  app/src/main/java/com/example/snacktrack/ui/viewmodel/TeamViewModel.kt.bak
Labels: android, ui, data

fix: Correct database ID to 'snacktrack-db'
  app/src/main/java/com/example/snacktrack/data/service/AppwriteConfig.kt
Labels: android, data

fix: Korrigiere Navigation zu bereits vorhandenen Features
  .kotlin/sessions/kotlin-compiler-4007185575512703609.salive
  app/src/main/java/com/example/snacktrack/ui/screens/main/TileDashboardScreen.kt
Labels: android, ui

fix: Behebe Appwrite Authentifizierung - User werden nicht mehr als Guests behandelt
  .kotlin/sessions/kotlin-compiler-4007185575512703609.salive
  app/src/main/java/com/example/snacktrack/data/repository/AuthRepository.kt
  app/src/main/java/com/example/snacktrack/data/service/AppwriteService.kt
  app/src/main/java/com/example/snacktrack/ui/screens/auth/LoginScreen.kt
Labels: android, ui, data, auth

fix: Weitere Verbesserungen für Appwrite Authentifizierung
  .kotlin/sessions/kotlin-compiler-1074705919832125669.salive
  app/src/main/java/com/example/snacktrack/data/repository/AuthRepository.kt
  app/src/main/java/com/example/snacktrack/data/service/AppwriteService.kt
  app/src/main/java/com/example/snacktrack/data/service/SessionManager.kt
  app/src/main/java/com/example/snacktrack/ui/screens/auth/LoginScreen.kt
Labels: android, ui, data, auth

fix: Erweiterte Debugging-Tools für Appwrite Authentifizierung
  app/src/main/java/com/example/snacktrack/data/repository/AuthRepository.kt
  app/src/main/java/com/example/snacktrack/data/repository/DogRepository.kt
  app/src/main/java/com/example/snacktrack/data/service/AppwriteClientHelper.kt
  app/src/main/java/com/example/snacktrack/ui/screens/auth/LoginScreen.kt
  app/src/main/java/com/example/snacktrack/utils/AppwriteConnectionTest.kt
Labels: android, ui, data, auth, tests

fix: Implementiere Cookie-Management für Appwrite Session-Persistenz
  app/src/main/java/com/example/snacktrack/data/service/AppwriteService.kt
  app/src/main/java/com/example/snacktrack/data/service/CookieJarManager.kt
  app/src/main/java/com/example/snacktrack/data/service/SessionInterceptor.kt
Labels: android, data

[HIVE-FIXES] Fix compilation errors and security issues
  .kotlin/sessions/kotlin-compiler-15152281648076733730.salive
  .kotlin/sessions/kotlin-compiler-3472363888985920856.salive
  app/build.gradle.kts
  app/src/main/java/com/example/snacktrack/data/service/AppwriteService.kt
  app/src/test/java/com/example/snacktrack/BarcodeRepositoryTest.kt
  app/src/test/java/com/example/snacktrack/CommunityRepositoryTest.kt
Labels: android, data, tests, dependencies

[HIVE-CONFIG] Add Windows gradle.properties configuration
  gradle.properties.windows
Labels: none

[HIVE-TESTS] Fix all test compilation errors
  .kotlin/sessions/kotlin-compiler-12860564348405741894.salive
  .kotlin/sessions/kotlin-compiler-3472363888985920856.salive
  app/src/main/java/com/example/snacktrack/data/repository/CommunityRepository.kt
  app/src/test/java/com/example/snacktrack/BarcodeRepositoryTest.kt
  app/src/test/java/com/example/snacktrack/CommunityRepositoryTest.kt
  app/src/test/java/com/example/snacktrack/DogRepositoryTest.kt
  app/src/test/java/com/example/snacktrack/DogViewModelTest.kt
  app/src/test/java/com/example/snacktrack/FoodRepositoryTest.kt
Labels: android, data, tests

fix: Behebe Navigation - Füge BottomNavigationBar und CommonTopAppBar hinzu
  .kotlin/sessions/kotlin-compiler-12860564348405741894.salive
  .kotlin/sessions/kotlin-compiler-13251974673131308849.salive
  app/src/main/java/com/example/snacktrack/MainActivity.kt
  app/src/main/java/com/example/snacktrack/ui/components/BottomNavigationBar.kt
  app/src/main/java/com/example/snacktrack/ui/navigation/SnackTrackNavGraph.kt
  app/src/main/java/com/example/snacktrack/ui/screens/settings/SettingsScreen.kt
Labels: android, ui

feat: Erweitere Einstellungen um Admin-Bereich
  .kotlin/sessions/kotlin-compiler-13251974673131308849.salive
  .kotlin/sessions/kotlin-compiler-8254486737977522540.salive
  app/src/main/java/com/example/snacktrack/ui/screens/settings/SettingsScreen.kt
Labels: android, ui

[HIVE-SETUP] GitHub Manager Worker initialized with auto-commit scripts
  .gitignore
  .kotlin/sessions/kotlin-compiler-8254486737977522540.salive
  HIVE_ERROR_REPORT.md
Labels: documentation

[HIVE-FINAL] Add backend setup, test fixes and documentation
  .kotlin/sessions/kotlin-compiler-3575290913468657068.salive
  APPWRITE_BACKEND_SETUP_SUMMARY.md
  GITHUB_AUTH_INSTRUCTIONS.md
  app/src/test/java/com/example/snacktrack/DogRepositoryTest.kt
  app/src/test/java/com/example/snacktrack/DogViewModelTest.kt
  app/src/test/java/com/example/snacktrack/FoodRepositoryTest.kt
  backend/.gitignore
  backend/APPWRITE_COLLECTIONS.md
  backend/APPWRITE_SETUP_GUIDE.md
  backend/README.md
  backend/create-collections.js
  backend/init-database-schema.js
  backend/package.json
  backend/quick-test-connection.js
  backend/setup-storage-buckets.js
  backend/test-appwrite-operations.js
  backend/verify-appwrite-connection.js
  docs/CI-CD-GUIDE.md
  push-to-github.sh
  scripts/setup-ci-cd.sh
Labels: android, tests, documentation

[FIX] Implementiere Lösungen für Issues #1, #2 und #3
  .env.template
  .gitignore
  app/src/main/java/com/example/snacktrack/MainActivity.kt
  app/src/main/java/com/example/snacktrack/ui/navigation/NavigationHelper.kt
  app/src/main/java/com/example/snacktrack/ui/screens/dogs/DogListScreen.kt
  app/src/main/java/com/example/snacktrack/ui/screens/main/TileDashboardScreen.kt
  app/src/main/java/com/example/snacktrack/ui/state/GlobalDogState.kt
Labels: android, ui

Add hello world html file
  hello.html
Labels: none

Add hello world HTML
  hello_world.html
Labels: none
